\documentclass[10pt, letterpaper]{article}
\usepackage[ignoreheadfoot, top=2 cm, bottom=2 cm, left=2 cm, right=2 cm, footskip=1.0 cm]{geometry}
\usepackage{titlesec,tabularx,array,xcolor,enumitem,fontawesome5,amsmath,hyperref,eso-pic,calc,bookmark,lastpage,changepage,paracol,ifthen,needspace,iftex}
\definecolor{primaryColor}{RGB}{0, 0, 0}
\hypersetup{pdftitle={Candidate Resume}, pdfauthor={Candidate Name}, pdfcreator={LaTeX}, colorlinks=true, urlcolor=primaryColor}
\ifPDFTeX
  \input{glyphtounicode}
  \pdfgentounicode=1
  \usepackage[T1]{fontenc}
  \usepackage[utf8]{inputenc}
  \usepackage{lmodern}
\fi
\usepackage{charter}
\raggedright
\pagestyle{empty}
\setcounter{secnumdepth}{0}
\setlength{\parindent}{0pt}
\setlength{\columnsep}{0.15cm}
\setlength{\parskip}{2pt}
\titleformat{\section}{\needspace{4\baselineskip}\bfseries\large}{}{0pt}{}[\vspace{3pt}\titlerule]
\titlespacing{\section}{-1pt}{0.35 cm}{0.28 cm}
\renewcommand\labelitemi{$\vcenter{\hbox{\small$\bullet$}}$}
\newenvironment{highlights}{\begin{itemize}[topsep=0.12 cm, parsep=2pt, partopsep=0pt, itemsep=2pt, leftmargin=10pt]}{\end{itemize}}
\newenvironment{onecolentry}{\begin{adjustwidth}{0 cm}{0 cm}}{\end{adjustwidth}}
\newenvironment{twocolentry}[2][]{\onecolentry\def\secondColumn{#2}\setcolumnwidth{\fill, 4.5 cm}\begin{paracol}{2}}{\switchcolumn \raggedleft \secondColumn \end{paracol}\endonecolentry}
\newenvironment{header}{\setlength{\topsep}{0pt}\par\kern\topsep\centering\linespread{1.4}}{\par\kern\topsep}

\begin{document}
  \begin{header}
    \fontsize{25 pt}{25 pt}\selectfont Candidate Name
    \vspace{3 pt}
    \Large Candidate Title
    \vspace{5 pt}

    \normalsize
    City, State \, | \,
    \href{mailto:candidate@example.com}{candidate@example.com} \, | \,
    \href{tel:+1-000-000-0000}{+1 000-000-0000}
  \end{header}

  \vspace{4 pt}

  \section{Summary}
  \begin{onecolentry}
    Summary goes here.
  \end{onecolentry}

  \section{Experience}
  \begin{twocolentry}{Dates}
    \textbf{Role}, Company -- Location
  \end{twocolentry}
  \vspace{0.08 cm}
  \begin{onecolentry}
    \begin{highlights}
        \item Bullet point 1
        \item Bullet point 2
    \end{highlights}
  \end{onecolentry}

  \section{Education}
  \begin{twocolentry}{Dates}
    \textbf{Institution}, Degree
  \end{twocolentry}

  \section{Skills}
  \begin{onecolentry}
      \textbf{Category:} Skill 1, Skill 2, Skill 3 \\
  \end{onecolentry}

\end{document}
